.hidden {
    display: none;
}

body {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px 30px;
    border-style: solid;
    border-width: 10px;
    border-image: url(./style/border.svg) 10 10 10 10 stretch stretch;
}